*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 46px;
    line-height: 64px;
    color: #222;
}

h3 {
    font-size: 30px;
    line-height: 45px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h5 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/*Header Start*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #dcf0f1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #1a1a1a;
    transition: 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar li a:hover,
#navbar li a.active {
    color: #d7263d;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #d7263d;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile {
    display: none;
    align-items: center;
}
#close{
    display: none;
}

/*Home Page*/

#hero {
    background-image: url(BANOM/banner\ poster.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h1 {
    color: #00cef4;
}

#hero button {
    padding: 8px 55px 8px 55px;
    background-color: transparent;
    color: #4a6d7c;
    border: 2px solid #4a6d7c;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 0.2s ease;
}
#hero button:hover{
    background-color: white;
    color: #d7263d;
    border: 2px solid white;
}
#feature-heading {
    text-align: center;
    padding-top: 40px;  
}
#feature {
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

#feature .fe-box {
    width: 180px;
    height: 180px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.08);
    border: 2px solid #4a6d7c;
    border-radius: 4px;
    margin: 15px 0; 
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#product1 {
text-align: center;
}
#product1 .pro-container{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #4a6d7c;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.12);
}
#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des .span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: 1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: #d7263d;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 18px;
    font-weight: 700;
    color: #4a6d7c;
}

#product1 .pro a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #4a6d7c;
    border: 1px solid #e8f6ea;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#offerzone {
    text-align: center;
    padding-top: 40px;  
}
#banner {
    background-image: url(BANOM/Banner1.jpg);
    height: 60vh;
    padding: 60px 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#banner h2{
    color: white;
}
#banner h4 {
    color: white;
    background-color: #d7263d;
    padding: 4px 8px;
    border: 1px solid white;
}
#banner button {
    margin-top: 15px;
    padding: 8px 40px 8px 40px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 0.2s ease;
}
#banner button:hover {
    background-color: white;
    color: #d7263d;
}

#sbcategories {
    text-align: center;
    padding-top: 40px;   
}
#categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#categories .bannerbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(BANOM/Banner/Innerwear\ Banner.jpg);
    min-width: 660px;
    height: 252px;
    padding: 0 40px;
    margin-bottom: 30px;
}
#categories .bb2 {
    background-image: url(BANOM/Banner/Topwear\ Banner.jpg);
}
#categories .bb3 {
    background-image: url(BANOM/Banner/Bottomwear\ Banner.jpg);
}
#categories .bb4 {
    background-image: url(BANOM/Banner/Towel\ Banner.jpg);
}
#categories .bannerbox h2{
    font-size: 40px;
}
#categories .bannerbox span{
    color: #00cef4;
}
#categories .bannerbox h4{
    font-size: 25px;
}
#categories .bannerbox h5{
    font-size: 15px;
    padding-bottom: 15px;
}
#categories button{
    padding: 8px 15px 8px 15px;
    background-color: transparent;
    color: #4a6d7c;
    border: 2px solid #4a6d7c;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 0.2s ease;
}
#categories button:hover {
    background-color: white;
    color: #d7263d;
    border: 2px solid white;
}
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(BANOM/Cliparts/newsletter.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
}
#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: white;
}
#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: white;
}
#newsletter .form {
    display: flex;
    width: 40%;
}
#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button {
    background-color: #4a6d7c;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
    padding: 15px 30px;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#blogsec {
    background-image: url(BANOM/Banner/blog.jpg);
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 70vh;
    padding: 100px 150px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
#blogsec p{
    width: 30%;
    color: white;
}
#blogsec h2{
    color: #d7263d;
}
#blogsec button{
    padding: 8px 30px 8px 30px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 0.2s ease;
}
#blogsec button:hover {
    background-color: white;
    color: #d7263d;
    border: 2px solid white;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo {
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .follow i:hover,
footer a:hover {
    color: #d7263d;
}
footer .copyright{
    width: 100%;
    text-align: center;
}

/*Single Product Page*/

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}
.small-img-group {
    display: flex;
    justify-content: space-between;
}
.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details button{
    background-color: #d7263d;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
    padding: 13px 30px;
    white-space: nowrap;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

/*Innerwear Page*/

#innheader {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 0;
}
#innheader .innbanner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-image: url(BANOM/Banner/VH3-866x956.jpg);
    min-width: 660px;
    height: 45vh;
    padding: 0 40px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}
#innheader .innbanner2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-image: url(BANOM/Banner/innbanner2.jpg);
    min-width: 660px;
    height: 45vh;
    padding: 0 40px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}

#innheader .innbanner h2{
    font-size: 40px;
    line-height: 45px;
    color: white;
}

#innheader .innbanner h4{
    font-size: 25px;
    background-color: #d7263d;
    border: 2px solid white;
    padding: 4px 8px;
    margin-top: 1%;
}
#innheader .innbanner h5{
    font-size: 15px;
    padding-bottom: 15px;
    color: white;
}
#innheader .innbanner2 h2{
    font-size: 40px;
    line-height: 45px;
    margin-top: 1%;
}

#innheader .innbanner2 h4{
    font-size: 25px;
    background-color: #d7263d;
    border: 2px solid black;
    padding: 4px 8px;
    color: white;
}
#innheader .innbanner2 h5{
    font-size: 15px;
    padding-bottom: 15px;
}

#pagination {
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #d7263d;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

/*Topwear Page*/

#innheader .top1 {
    background-image: url(BANOM/Banner/topwear\ header\ 1.jpg);
}
#innheader .top2 {
    background-image: url(BANOM/Banner/topwear\ header\ 2.jpg);
}
#innheader .top2 h2{
    color: white;
}
#innheader .top2 h5{
    color: white;
}
#innheader .top2 h4{
    color: black;
    border: 2px solid white;
}
/*Bottomwear Page*/

#innheader .bottom1{
    background-image: url(BANOM/Banner/bottom\ header1.jpg);
}
#innheader .bottom2{
    background-image: url(BANOM/Banner/bottom\ header2.jpg);
}
/*Accesories Page*/
#innheader .acc1{
    background-image: url(BANOM/Banner/towel\ header2.jpg);
}
#innheader .acc2{
    background-image: url(BANOM/Banner/towel\ header1.jpg);
}
#innheader .acc1 h2{
    color: black;
}
#innheader .acc1 h5{
    color: black;
}
#innheader .acc1 h4{
    color: white;
    border: 2px solid black;
}

/*Blog Page*/

#readbanner{
    background-image: url(BANOM/Banner/reading\ banner.png);
    height: 40vh;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#readbanner h2{
    color: white;
    font-size: 60px;
}
#readbanner p {
    color: white;
    font-size: 25px;
}
#blog {
    padding: 150px 150px 0 150px;
}
#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.3S;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 8px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: #d7263d;
}
#blog .blog-details a:hover::after {
    color: #d7263d;
}
#blog .blog-box h1{
    position: absolute;
    top: -52px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}
/*Start Media Query*/

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px; 
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.08);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;

    }
    #lg-cart {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;  
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }
    #banner {
        height: 48vh;
        background-position: top 30% left 20%;
        padding-right: 40px;
    }
    #categories .bannerbox {
        min-width: 100%;
        height: 252px;
    }
    #blogsec {
        background-position: right 30%;
        height: 50vh;
        padding: 100px 70px;
    }
    #blogsec h2{
        font-size: 36px;
    }
    #blogsec p{
        width: 46%;
    }
    /*Innerwear Page*/

    #innheader .innbanner {
        width: 100%;
        background-position: center;
    }
    #innheader .innbanner2 {
        width: 100%;
        background-position: center;
    }
}
@media (max-width: 477px) {
    #header {
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 30px;
    }
    #hero{
        padding: 0 20px;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        width: 155px;
        height: 155px;
        margin: 0 10px 15px 0;
    }
    p {
        margin: 0 0 0 0;
    }
    #product1 .pro {
        width: 100%;
    }
    #categories .bannerbox {
        background-position: top 10% right 10% ;
        padding: 0 20px;
    }
    #categories .bannerbox h2 {
        font-size: 19px;
    }
    #categories .bannerbox h4 {
        font-size: 11px;
    }
    #categories .bannerbox h5 {
        font-size: 8px;
    }
    #categories button {
        padding: 6px 8px;
        font-size: 10px;
    }
    #blogsec {
        padding-top: 70px;
    }
    #blogsec h2{
        font-size: 18px;
    }
    #blogsec p{
        width: 35%;
        font-size: 6px;
    }
    #blogsec button{
        font-size: 8px;
        padding: 3px 12px;
    }
    #newsletter{
        padding: 40px 20px;
    }
    #newsletter .form {
        width: 100%;
    }
    #newsletter p {
        margin-bottom: 15px;
    }
    /*Innerwear Page*/

    #innheader .innbanner {
        min-width: fit-content;
        background-size: cover;
        background-position: top 20% left 12%;
    }
    #innheader .innbanner2 {
        min-width: fit-content;
        background-size: cover;
        background-position: top 20% left 12%;
    }
    #innheader .innbanner h2{
        font-size: 20px;
        line-height: 25px;
    }
    #innheader .innbanner h4{
        font-size: 14px;
    }
    #innheader .innbanner h5{
        font-size: 12px;
    }
    #innheader .innbanner2 h2{
        font-size: 20px;
        line-height: 25px;
    }
    #innheader .innbanner2 h4{
        font-size: 14px;
    }
    #innheader .innbanner2 h5{
        font-size: 12px;
    }
    /*Blog page*/
    #blog {
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #blog .blog-details{
        width: 100%;
    }
}
